@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~highlightjs/styles/github.css";
@import "~font-awesome/css/font-awesome.min.css";

$color-background: #FFFFFF;
$color-primary-0: #15425F;
$color-primary-1: #556671;
$color-primary-2: #32546A;
$color-primary-3: #ebf5fc;
$color-primary-4: #012A44;

$color-secondary-2-0: #B997D5;

#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  max-width: 768px;
  background-color: $color-background;
  color: $color-primary-4;
  line-height: 1.6em;
}

.section-menu {
  margin-top: 20px;
  text-align: right;
  padding-top: 5px;
  border-top: 1px $color-primary-3 solid;
}

h1 {
  font-size: 28px;
  color: $color-primary-0;
}

h2 {
  margin-top: 60px;
  font-size: 22px;
  color: $color-primary-2;

  a:hover, a:active, a:visited {
    text-decoration: none !important;
  }
}

h3, h4, h5, h6 {
  font-size: 16px;
}

pre {
  margin: 40px 0px;
  font-style: 'Roboto Mono';
  overflow: auto;
}

p {
  code {
    display: inline;
    padding: 0px 5px 0px 5px;
    background-color: $color-background;
    color: $color-primary-4;
    background-color: rgba(27,31,35,0.05);
  }
}

em {
  font-weight: bold;
}

.hljs-comment {
  color: $color-secondary-2-0;
}

@media (max-width: 788px) {
  #content {
    padding: 0px 12px;
  }
}

@media (max-width: 480px) {
  p {
    text-align: justify;
  }
}
