
body {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

/*div, span {
  border: solid white 2px;
}*/

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: gray;
  font-size: 24px;
}



#errorPage #attribute {
  position: relative;
  bottom: 6px;
  right: 27px;
}

#errorPage #attribute a {
  padding-right: 17px;
  color: black;
  font-size: 16px;
}

#errorPage {
  position: absolute;
  top: 50%;
  right: 5px;
  text-align: right;
  margin-top: -167.5px;
}

#errorPage #error {
  margin-left: 25px;
  display: inline-block;
  line-height: 1;
  text-align: left;
  font-weight: bolder;
  font-size: 290px;
  transform : scale(1, 1.2);
  -webkit-transform:scale(1, 1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.2); /* Firefox */
  -ms-transform:scale(1,1.2); /* IE 9+ */
  -o-transform:scale(1,1.2); /* Opera */
}

#errorPage #tooSad {
  display: inline-block;
  width: 405px;
  text-align: right;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 1px;
  font-weight: 600;
  transform : scale(1, 1.2);
  -webkit-transform:scale(1, 1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.2); /* Firefox */
  -ms-transform:scale(1,1.2); /* IE 9+ */
  -o-transform:scale(1,1.2); /* Opera */
}

#internalError {
  background-color: darkred;
}

#internalError #errorPage #attribute {
  position: relative;
  bottom: 134px;
  right: 0px;
}

#internalError #errorPage #attribute a {
  padding-right: 17px;
  color: darkred;
  font-size: 16px;
}
