@import "~base.scss";

#quotemachine {
  margin: 20px 0px;
}

#quotemachine blockquote {
  min-height: 140px;
  position: relative;
  padding-left: 30px;

  i {
    position: absolute;
    left: 7px;
    top: 7px;
  }
}

#author {
  color: $color-primary-1;
  font-size: 14px;
}

#origin {
  font-size: 11px;
}

#content {
  a img {
    margin: 20px 0;
  }
}

#supportedOS {
  i {
    text-align: left;
    font-size: 20px;
  }
}

#npmBanner {
  text-align: center;
}

@media (max-width: 788px) {
  #quotemachine blockquote {
    min-height: 180px;
  }
}

@media (max-width: 420px) {
  #quotemachine blockquote {
    min-height: 225px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  height: 130px;
  width: 100%;
  padding: 0;
  margin: 15px 0;
  .icon {
    position: relative;
    flex: 1 0 0;
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #273546;
      padding: 0 10px;
      .text {
        position: absolute;
        top: 50%;
        color: white;
        font-size: 12px;
        transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
      }
    }
    img {
      display: block;
      margin:  0 auto;
      height: 100%;
      max-width: 80%;
    }
  }
}
  .icon:hover .overlay {
    opacity: 1;
  }