@import "~base.scss";

#quotemachine {
  margin: 20px 0px;
}

#quotemachine blockquote {
  min-height: 140px;
  position: relative;
  padding-left: 30px;

  i {
    position: absolute;
    left: 7px;
    top: 7px;
  }
}

#author {
  color: $color-primary-1;
  font-size: 14px;
}

#origin {
  font-size: 11px;
}
