
$color-background: #FFFFFF;
$color-primary-0: #15425F;	// Main Primary color */
$color-primary-1: #556671;
$color-primary-2: #32546A;
$color-primary-3: #043454;
$color-primary-4: #012A44;

$color-secondary-1-0: #6D9E15;	// Main Secondary color (1) */
$color-secondary-1-1: #A3EE1D;
$color-secondary-1-2: #88CA12;
$color-secondary-1-3: #4D7309;
$color-secondary-1-4: #314906;

$color-secondary-2-0: #B997D5;	// Main Secondary color (2) */
$color-secondary-2-1: #A397AD;
$color-secondary-2-2: #C1B0CF;
$color-secondary-2-3: #B181D9;
$color-secondary-2-4: #AF71E1;

@mixin center($width: null, $height: null) {
  position: absolute;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    margin: -($width / 2) #{0 0} -($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    // transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
};

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

body, html {
  background-color: $color-background;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $color-primary-1;
  margin: 0;
  padding: 0;
}

#content {
    @include center(500px);
}

#top-bar {
  width: 100%;
  height: 50px;
  background-color: $color-primary-0;
}

code {
  background-color: $color-primary-1;
  display: block;
  padding: 5px;
  border-radius: 3px;
  border-style: 1px dashed $color-secondary-1-3;
  margin-right: auto;
  margin-left: auto;
  font-style: 'Roboto Mono';
  color: $color-background;
}

p {
  code {
    display: inline;
    padding: 1px;
  }
}

em {
  font-weight: bold;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3, h4, h5, h6 {
  font-size: 18px;
}
