<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aden Error</title>
  </head>
  <body>
    <b>Something went wrong.</b>
    {{#res.data}}
    <div class="errorStack">
      <pre>
        {{stack}}
      </pre>
    </div>
    {{/res.data}}
  </body>
</html>
